<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="RedisConnectionString" connectionString="testredislab.redis.cache.windows.net:6380,password=aHiz6sdfQ2N1JhZkbuKhCjjGiBWvJ7i88WOwUfoKmVc=,ssl=True,abortConnect=False"/>
  </connectionStrings>
</configuration>